@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: linear-gradient(to bottom, #d3e0ea, #438BC5);
    --font-color: #276678;
    --font-family: 'Nunito', sans-serif;
}
body{
    background: var(--bg-color) fixed;
    color: var(--font-color);
    font-family: var(--font-color);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}
/* ================= */
/* Query Part Styles */
/* ================= */
h1{
    font-weight: 400;
}
button {
    color: var(--font-color);
    background: white;
    border: none;
    padding: 0.5em 0.8em;
    border-radius: 5px;
    outline: none;
}
button:hover{
    box-shadow: 1px 1px 5px var(--font-color);
}
input[type="text"]{
    height: 2.5em;
    width: 16em;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
input[type="text"]:focus{
    outline: none;
    box-shadow: 2px 2px 5px var(--font-color);
}
/* ================== */
/* Result Part Styles */
/* ================== */
.weather-card{
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--font-color);
    margin: 2em auto;
    padding: 1em;
    text-align: center;
    min-width: 350px;
    max-width: 40%;
    display: none;
    flex-direction: column;
    gap: 0.6em;
    position: relative;
}
.weather-condition, .air-quality {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.8em;
}
.air-quality-icon {
    font-size: 1.3em;
    position: relative;
    top: 3px;
} 
.weather-condition-icon {
    height: 35px;
    width: 35px;
    position: relative;
    top: 5px;
}
/* ===================== */
/* No-match-found Styles */
/* ===================== */
.not-found{
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--font-color);
    margin: 2em auto;
    padding: 1em;
    text-align: center;
    min-width: 350px;
    max-width: 40%;
    display: none;
    font-size: 1.4em;
    font-weight: 600;
}